html {
    font-size: 12px;
    line-height: 16px;
}

body {
    background: #DAF7F6;
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    color: #3B3B3B;
}

header {
    background: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
}

header img {
    max-height: 3.5em;
    margin-right: 1em;
}

h1 {
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    font-size: 4em;
    font-weight: bold;
    text-transform: uppercase;
    color: #F16059;
    padding: 40px 0;
    margin: 0;
}

main {
    width: 1000px;
    margin: 0 auto;
}

article {
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
    vertical-align: middle;
    margin: 20px 0 0 0;
}

.image {
    width: 500px;
    height: 550px;
}

.recipe {
    background: #FFFFFF;
    width: 500px;
    height: 550px;
    padding: 20px;
    box-sizing: border-box;
}

#cookies .image {
	background-image: url("../img/gluten-free-sugar-cookies.jpg");
	background-size: cover;
}

#pesto .image {
	background-image: url("../img/nut-free-pesto.jpg");
	background-size: cover;
}

#salad .image {
	background-image: url("../img/watermelon-salad.jpg");
	background-size: cover;
}

.recipe h2 {
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    font-size: 2em;
    text-transform: uppercase;
    color: #F16059;
    padding: 5px 0;
    margin-top: 0;
}

.time strong {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
}

.time {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border: 1px solid #3B3B3B;
    padding: 0 5px;
}

.time div {
    display: inline-flex;
    align-items: center;
    width: 33.3333%;
    padding-left: 5px;
}

.time img {
    width: 1em;
    margin-right: 5px;
}

.time .cook {
    border-left: 1px solid #3B3B3B;
    border-right: 1px solid #3B3B3B;
}

.columns {
    display: inline-flex;
    justify-content: flex-start;
}

.ingredients {
    width: 200px;
}

.ingredients h3 {
    width: 180px;
}

.directions {
    width: 240px;
    margin-left: 20px;
}

.directions h3 {
    width: 220px;
}

.recipe h3 {
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
    text-transform: uppercase;
    color: #F16059;
    border-top: 1px solid #3B3B3B;
    border-bottom: 1px solid #3B3B3B;
    padding: 10px;
}

.ingredients ul {
    padding-left: 10px;
    line-height: 2em;
    list-style-type: square;
}

.directions ol {
    padding-left: 10px;
    line-height: 1.8em;
}

/******** MEDIA QUERIES*******/


@media screen and (max-width: 992px) {

    main {
        width: 100%;
    }
    
    article {
        display: block;
        padding: 0 18%;
    }

    .time {
        line-height: 1em;
    }
    
}

@media screen and (max-width: 768px) {

    main {
        width: 100%;
    }
    
    article {
        display: block;
        padding: 0 16%;
    }
    
}

@media screen and (max-width: 576px) {

    main {
        width: 100%;
    }
    
    article {
        display: block;
        padding: 0 2%;
        margin: 10px 0 0 0;
    }

    header img {
        max-height: 2.2em;
    }

    h1 {
        font-size: 2.4em;
    }

    .image{
        width: auto;
    }

    .recipe {
        width: auto;
        height: auto;
    }

    .recipe h2 {
        font-size: 1.8em;
	line-height: 1.25em;
    }

    .time img {
        width: 2.2em;
        margin-right: 3px;
    }

    .columns {
        display: block;
    }

    .recipe h3 {
        width: 95%;
    }

    .ingredients, .directions {
        width: 95%;
        margin-left: 0px;
    }
}
